*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{

    color: white;
    text-align: center;
}
.nav{background-color: rgb(51, 9, 203);
    padding: 50px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
h3{
    color: black;
    text-align: center;
}
img{display: block;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    

}
 .social{
color: blue;
}
