*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button{
    width: 400px;
    padding: 5px;
    margin: 10px 0;
}
button:active{
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
}

button{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
