*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 100px;
    gap: 10px 10px;
   
}
.item{
    background-color: rgb(47, 89, 148);
    color: white;
    text-align: center;
    width:calc(25% - 10px)

}
.item:nth-of-type(5) {
    background-color: rgb(47, 89, 148);
    color: white;
    text-align: center;
    width: calc(50% - 10px)
    
}