*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 200px;
    height: 150px;
    padding: 20px;
    
}
button{
    background-color: red;
    color: white;
    border-radius: 5px;
}
button:active{
    background-color: aliceblue;
}
    