*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.parent{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 100px;
    gap: 10px 10px;
   
}

.child{
    background-color: rgb(241, 31, 31);
    color: white;
    text-align: center;
    width: 24%;
 }
 
    

    
    
