.transform-element{
    width: 200px;
    height: 200px;
    text-align: center;
   font-size: 50; 
    color: rgb(15, 19, 19);
    line-height: 50px;
    border: 5px solid gold;
    margin: 150px auto;
    
}
.transform-element{
    background-color: bisque;
    
}
.transform-element:active{
    background-color: aqua;
    transform: rotate(45deg);
}